/*
 * default container
 */
process.container = 'alkanlab/tardis'
docker.enabled = true

params {
  input_folder = "s3://lifebit-featured-datasets/pipelines/tardis-data"
  bam_file_prefix = "*"
  bai = false
  ref = false
  sonic = false
  rp = false
  first_chr = false
  last_chr = false
  outdir = "results"
  rgid=4
  rglb="lib1"
  rgpl="illumina"
  rgpu="unit1"
  rgsm=20
}
